.footer {
    padding: 60px 0px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
    background: #2f303a;
    .socials-link {
      color: #ffffff;
      background-color:  rgba(255, 255, 255, 0.1);
    
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  .flex {
    display:flex;
    align-items: baseline;
  }
  .footer-address {
    font-style: normal;
    margin-top: 20px;
  }
  .logo-light,
  .footer-item:first-child {
    color: #ffffff;
  
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-mail,
  .footer-tel {
    color: rgba(255, 255, 255, 0.6);
  
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-item:not(:first-child) {
    margin-top: 9px;
  }
  .address-text {
    font-style: normal;
    text-decoration: none;
  }
  .connect-box {
    margin-left: 70px;
  }
  .footer-socials-list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .connect-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;  
  }
  .footer-mail:hover,
  .footer-mail:focus,
  .footer-tel:hover,
  .footer-tel:focus,
  .logo-light:hover,
  .logo-light:focus 
  .footer .socials-link:hover,
  .footer .socials-link:focus {
    background-color: var(--hover-focus-color);
  }
  