.form-button {
    width: 200px;
    height: 50px;
  
    padding: 0;
    border: 0;
  
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  
    font-family: 'Roboto';
    font-weight: 700;
  
    line-height: 1.88;
    letter-spacing: 0.06em;
  
    color: #ffffff;
  
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
  
  .form-button:hover {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
  }